html, body {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: black;
    color: white;
}
.bg-image {
    position: fixed;
    background-image: url('files/image.png');
    background-position: center center;
    filter: brightness(25%) blur(2.5rem);
    left: 0;
    right: 0;
    z-index: -100;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100vw;
}
.header {
    background-color: #ffffff40;
    height: 10vh
}
.subheader {
    height: 10vh
}
.votebody {
    height: 80vh
}
.parttext {
    color:#ffffff80
}
.toast-body {
    background-color: black;
}