body {
    background-color: black;
}
.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url('unnamed.webp');
    background-size: cover;
    filter: blur(2.5rem);
    height: 100%;
    z-index: -420;
}