body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
button {
    font-size: x-large;
    background-color: black;
    color: white;
    outline: auto;
    font-family: sans-serif;
}
button:hover {
    font-size: x-large;
    background-color: #404040;
    color: white;
    outline: auto;
    font-family: sans-serif;
}